<div id="container">
	<div id="header">
				<div id="headerBanner">
			<div><img border="0" src="/media/logo/top_banner_l.gif"/></div>
			<div id="headerLogo"><a rel="nofollow" href="/"><img border="0" src="/media/logo/dealsoutlet.gif" alt="Deals Outlet"/></a></div>  
			<div id="headerSearch">
			  <div id="searchBox">
				<form method="post" action="/show/search">
				<input id="search" type="text" value="Search deals" name="search" onblur="if(this.value=='') { this.value='Search deals';}" onfocus="if(this.value=='Search deals') this.value='';"/>
				<input type="submit" value="Search" />
				</form>
			  </div>
			</div>
			<div><img border="0" src="/media/logo/top_banner_r.gif"/></div>
		</div>
		
		<div id="headerCategory">
			<div id="topMenuShim">&nbsp;</div>
			<div><img border="0" src="/media/logo/top_menu_l24.png"/></div>
			<div class="topMenu"><img class="bulletYellow" border="0" src="/media/logo/bullet_yellow.png"/><a href="/show/deal/merchant/1/name/Amazon">Amazon</a></div>
			<div class="topMenu"><img class="bulletYellow" border="0" src="/media/logo/bullet_yellow.png"/><a href="/show/deal/merchant/995/name/Priceline">Priceline</a></div>
			<div class="topMenu"><img class="bulletYellow" border="0" src="/media/logo/bullet_yellow.png"/><a href="/show/deal/merchant/20/name/Orbitz">Orbitz</a></div>
			<div class="topMenu"><img class="bulletYellow" border="0" src="/media/logo/bullet_yellow.png"/><a href="/show/deal/merchant/998/name/Travelocity">Travelocity</a></div>
			<div><img border="0" src="/media/logo/top_menu_r24.png"/></div>
		</div>
	</div>	<!-- end #header -->
	
				<h1>Deals &amp; Coupons 
					
								 	for "Amazon"
								</h1>	
	<div id="content">
			<div id="contentLeft">
							<div class="leftSectionHead">
				<div><img border="0" src="/media/logo/category_tab_l.png"/></div>
				<div class="leftSectionTitle">
					<div class="sectionTitleText">Hot Catalog</div>
				</div>
				<div><img border="0" src="/media/logo/category_tab_r.png"/></div>
			</div>
			<div class="leftSectionBodyContainer">
			  <div class="leftSectionBody">
<ul>
<% @catalogs.each do |catalog| %>
	<li><%= catalog.name %></li>
<% end %>
</ul>			


			<div class="listCatalog"><a href="/show/list-catalog">List Catalogs...</a></div>			  </div>
			</div>
			
			<div class="horizontalSpace20">&nbsp;</div>
			
			<div class="leftSectionHead">
				<div><img border="0" src="/media/logo/category_tab_l.png"/></div>
				<div class="leftSectionTitle">
					<div class="sectionTitleText">Hot Merchant</div>
				</div>
				<div><img border="0" src="/media/logo/category_tab_r.png"/></div>
			</div>
			<div class="leftSectionBodyContainer">
			  <div class="leftSectionBody">

<ul>
<% @merchants.each do |merchant| %>
	<li><a href="<%= merchant.url %>"><%= merchant.name %></a></li>
<% end %>
</ul>			



			<div class="listCatalog"><a href="/show/list-merchant">List Merchants...</a></div>			
			  </div>
			</div>

			<div class="horizontalSpace20">&nbsp;</div>

			</div>
			
			<div class="verticalSpace20">&nbsp;</div>
			
			<div id="contentCenter"> 
				<div class="centerSectionHead">
				</div> 
											<div class="dealList"><p class="moreDeals">
							  <a href="/show/deal/plink/1344852" target="_blank" rel="nofollow"><strong>Shop "Amazon" Now</strong></a></p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1344852" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/51q%2Bf1CqjKL._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1344852" target="_blank" rel="nofollow">FordEx Group 300lm Mini Cree Led Flashlight Torch Adjustable Focus Zoom Light Lamp</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$35.48</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$4.20</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$31.28 (88%)</td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1344737" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/313hQyG2JTL._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1344737" target="_blank" rel="nofollow">Dotting 5 X 2 Way Marbleizing Dotting Pen Set for Nail Art Manicure Pedicure, 4 Ounce</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$14.99</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$0.44</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$14.55 (97%)</td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1345011" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/31JWOAoyJaL._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1345011" target="_blank" rel="nofollow">iPhone 5 USB Cable, Car Charger 5V 1A White with AC Wall Charger Adapter for iPhone 5</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$24.99</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$1.60</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$23.39 (94%)</td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1344974" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/51VAhTxgr1L._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1344974" target="_blank" rel="nofollow">Vintage, Retro Colorful Crystal Owl Pendant and Chain with Antiqued Bronze/Brass Finish</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$34.99</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$0.79</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$34.20 (98%)</td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1344999" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/41MMRaPpMhL._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1344999" target="_blank" rel="nofollow">Norton 360 2013 - 1 User / 3 PC</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$89.99</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$25.00</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$64.99 (72%) &amp; this item ships for <b>FREE.</b> </td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1344839" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/419EFrNLdVL._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1344839" target="_blank" rel="nofollow">SODIAL- Handlebar Mustache Vintage Adjustable Double Ring</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$6.99</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$0.38</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$6.61 (95%)</td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1345026" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/41MYmN8BPjL._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1345026" target="_blank" rel="nofollow">Schumacher SEM-1562A 1.5 Amp Speed Charge Maintainer</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$59.80</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$17.00</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$42.80 (72%) &amp; this item ships for <b>FREE.</b> </td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1345015" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/41noIKEcGGL._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1345015" target="_blank" rel="nofollow">Motorola Vehicle Power Adapter micro-USB Rapid Rate Charger</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$29.99</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$7.02</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$22.97 (77%) &amp; this item ships for <b>FREE.</b> </td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1344756" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/41MUgv%2Bbj9L._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1344756" target="_blank" rel="nofollow">Norton 360 2013 - 1 User / 3 PC [Download]</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$89.99</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$25.00</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$64.99 (72%)</td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1344930" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/5130jtPeIlL._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1344930" target="_blank" rel="nofollow">20 Chinese Sky Fly Fire Lanterns Wish Party Wedding Birthday Multi Color</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$200.00</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$21.09</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$178.91 (89%) &amp; this item ships for <b>FREE.</b> </td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1344875" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/5172peMwdYL._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1344875" target="_blank" rel="nofollow">Lot
 of 10 Double Jeweled CZ Crystal Gem Belly Button Navel Rings 316L 
Surgical Steel 14 Gauge (10 Pieces)14G 3/8" + 1 Free Belly Retainer</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$18.49</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$9.99</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$8.50 (85%)</td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1344870" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/41qH3Y7qnUL._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1344870" target="_blank" rel="nofollow">Norton Internet Security 2013 - 1 User / 3 PC  [Download]</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$79.99</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$19.27</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$60.72 (76%)</td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1344975" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/41BroIkyNpL._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1344975" target="_blank" rel="nofollow">2.00
 Carat Cubic Zirconia Earrings. Set in 925 Sterling Silver Nickel Free 
Settings. 6.50mm Each Round Stone. 1.00 Carat Each. Nickel Free</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$59.99</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$0.01</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$59.98 (100%)</td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1344842" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/41oEYMwkziL._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1344842" target="_blank" rel="nofollow">316L Surgical Steel 14 Guage Leaf Dangle With Blue Beads Navel Belly Button Ring Bar</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$5.99</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$1.59</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$4.40 (73%)</td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div><div class="dealList"><span class="productListImage"><a href="/show/deal/plink/1344785" target="_blank" rel="nofollow">
						<img border="0" src="http://ecx.images-amazon.com/images/I/51Z-lpKrH7L._SL160_.jpg" /></a></span><span><table class="product"><tbody><tr><td colspan=2><b class="productListName"><a href="/show/deal/plink/1344785" target="_blank" rel="nofollow">Have Faith Bundle [Download]</a></b></td></tr><tr><td class="priceLabel">List Price:</td><td class="listPrice">$24.98</td></tr><tr><td class="priceLabel">Price:</td><td><b class="salePrice">$4.99</b></td></tr><tr><td class="priceLabel">You Save:</td><td class="savePrice">$19.99 (80%)</td></tr></tbody></table></span><p class="moreDeals">&nbsp;</p></div><div class="space"></div>				<div class="dealList"><div class="paginationControl">
<!-- Previous page link -->
  <span class="disabled">&lt;&nbsp;Previous</span> |

<!-- Numbered page links -->
      1 |
        <a href="/show/deal/merchant/1/name/Amazon/page/2">
        2    </a> |
        <a href="/show/deal/merchant/1/name/Amazon/page/3">
        3    </a> |
        <a href="/show/deal/merchant/1/name/Amazon/page/4">
        4    </a> |
        <a href="/show/deal/merchant/1/name/Amazon/page/5">
        5    </a> |
        <a href="/show/deal/merchant/1/name/Amazon/page/6">
        6    </a> |
        <a href="/show/deal/merchant/1/name/Amazon/page/7">
        7    </a> |
        <a href="/show/deal/merchant/1/name/Amazon/page/8">
        8    </a> |
        <a href="/show/deal/merchant/1/name/Amazon/page/9">
        9    </a> |
        <a href="/show/deal/merchant/1/name/Amazon/page/10">
        10    </a> |
  
<!-- Next page link -->
  <a href="/show/deal/merchant/1/name/Amazon/page/2">
    Next &gt;
  </a>
</div>
</div><div class="topSpace"></div><div class="topSpace"></div>				
			</div>
			
			<div class="verticalSpace20">&nbsp;</div>
			
			<div id="contentRight">
									<div class="signupboxTopHorizontal">
				<div><img border="0" src="/media/logo/signupbox_top_l.png"/></div>
				<div id="signupboxTop">Setup Deals Alerts
				</div>
				<div><img border="0" src="/media/logo/signupbox_top_r.png"/></div>
			</div>
			<div class="signupboxContainer">
			  <div id="signupboxBody">
			    <form action="/member/login" method="post">
			  	<div class="signinText">Username:</div>
			  	<div><input class="signinInput" name="username" type="text"/></div>
			  	<div class="signinText">Password:</div>
			  	<div><input class="signinInput" name="password" type="password"/></div>
			  	<div id="signinButtons">
			  	<input id="signinButton" type="submit" value="Signin!"/>
			  	<a href="/member/register"><input id="signupButton" type="button" value="Signup!"/></a>
				<input type="hidden" name="check" value="1"/>
			  	</form>
			  	</div>
			  </div>
			</div>
			
			<div class="signupboxHorizontal">
				<div><img border="0" src="/media/logo/signupbox_bottom_l.png"/></div>
				<div id="signupboxBottom"></div>
				<div><img border="0" src="/media/logo/signupbox_bottom_r.png"/></div>
			</div>
					
			<div class="horizontalSpace20">&nbsp;</div>

			<div class="rightSectionHead">
				<div><img border="0" src="/media/logo/category_tab_l.png"/></div>
				<div class="rightSectionTitle">
					<div class="sectionTitleText">Travel</div>
				</div>
				<div><img border="0" src="/media/logo/category_tab_r.png"/></div>
			</div>

			<div class="rightSectionBodyContainer">
			  <div class="rightSectionBody">
			<p><a href="/show/deal/merchant/981/name/Avis+Rent+A+Car">Avis Rent A Car</a></p><p><a href="/show/deal/merchant/984/name/Budget+Rent+a+Car">Budget Rent a Car</a></p><p><a href="/show/deal/merchant/982/name/Dollar+Rent+a+Car">Dollar Rent a Car</a></p><p><a href="/show/deal/merchant/993/name/Expedia.com.au">Expedia.com.au</a></p><p><a href="/show/deal/merchant/19/name/Hotwire">Hotwire</a></p><p><a href="/show/deal/merchant/20/name/Orbitz">Orbitz</a></p><p><a href="/show/deal/merchant/995/name/Priceline">Priceline</a></p><p><a href="/show/deal/merchant/994/name/PricelineEurope.com+">PricelineEurope.com </a></p><p><a href="/show/deal/merchant/983/name/Thrifty+Rent+a+Car">Thrifty Rent a Car</a></p><p><a href="/show/deal/merchant/998/name/Travelocity">Travelocity</a></p><p><a href="/show/deal/merchant/997/name/Travelocity+India">Travelocity India</a></p><p><a href="/show/deal/merchant/996/name/Travelocity.ca">Travelocity.ca</a></p>
			<div class="listCatalog"><a href="/show/deal/catalog/177/name/Travel+%26+Vacation">List All...</a></div>
			  </div>
			</div>

			<div class="horizontalSpace20">&nbsp;</div>
					

			<div class="rightSectionHead">
				<div><img border="0" src="/media/logo/category_tab_l.png"/></div>
				<div class="rightSectionTitle">
					<div class="sectionTitleText">Submit a Deal</div>
				</div>
				<div><img border="0" src="/media/logo/category_tab_r.png"/></div>
			</div>

			<div class="rightSectionBodyContainer">
			  <div class="rightSectionBody">
			  	<div id="submitDealReturnText"></div>
				<textarea id="submitDeal" cols="20" rows="3" name="submitDeal"></textarea>				
				<input type="button" value="Submit" onclick="submitDeal()"/>
			  </div>
			</div>
			<div class="horizontalSpace20">&nbsp;</div>



						</div>
		</div>
	
    <div id="footer">
				<p>&nbsp;</p>
		<p>
		 <a href="/site/aboutus/">About us</a> <a href="/site/contactus/">Contact us</a> 
		 <a href="/site/sitemap/">Sitemap</a> 
		 <a href="http://apps.facebook.com/dealsoutlet_net/">Find us on Facebook</a> 
		 <a href="http://twitter.com/DealsOutlet">Follow us on Twitter</a> 
		 <a href="/xml/rss2/kw/top" title="Subscribe Feed">RSS</a>
		</p> 
		<p id="copyRight">
		 &copy; 2004-2009 The World's Gate, Inc. All Rights Reserved. 
		 <a href="/site/privacy/">Privacy Policy</a> <a href="/site/tos/">Terms of Use</a> 
		</p> 

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11366110-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    </div><!-- end #footer -->
    
</div><!-- end #container -->
