<!DOCTYPE html>
<html>
<head>
  <title>FlashDeals</title>
<link href="http://www.dealsout.net/css/front.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://www.dealsoutlet.net/js/front.js"></script>
<script type="text/javascript" src="http://www.dealsoutlet.net/js/front.js"></script>
<!--
  <%= stylesheet_link_tag    "http://www.dealsoutlet.com/css/front.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
-->
</head>
<body>

<%= yield %>

</body>
</html>
